{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>More Information</title>

  <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:700|Open+Sans:400,400i,700&display=swap" rel="stylesheet">

</head>

<body>
  <!-- your single-location forecast interface here -->
  
  <div class="header">
    <a href="/weather/forecast/alert/">
      <div class="back"></div>
    </a>
    <h2 style="padding-top:1em; position: absolute; left:6em;">
      Hailstorm
    </h2>
  </div>

  <h3 style="padding:1em">
    What To Do
  </h3>
  <h3 style="padding:1em">
    Helplines
  </h3>


</body>

</html>